In [1]:
import json

In [8]:
obj = """

{

    "name": "Choi",

    "places_lived": ["Seoul", "Korea"],

    "pet": null, "siblings": [{"name": "Scott", "age":25, "pet":"Zuko"}]

}

"""

In [9]:
result = json.loads(obj)
result

{'name': 'Choi',
 'places_lived': ['Seoul', 'Korea'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'}]}

In [10]:
result['siblings'][0]['name']

'Scott'

In [11]:
result['siblings'][0]['univ'] = 'tukorea'

result

{'name': 'Choi',
 'places_lived': ['Seoul', 'Korea'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko', 'univ': 'tukorea'}]}

In [14]:
asjson = json.dumps(result)

asjson

'{"name": "Choi", "places_lived": ["Seoul", "Korea"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko", "univ": "tukorea"}]}'